*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.btn{
  padding: 20% 30%;
  background-color: #0061ff;
  color: white;
}

header{
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  
  text-align: center;
}

nav img{
  vertical-align: middle;  
  height: 32px;
}

nav ul li{
  list-style: none;
  display: inline-block;
  line-height: 70px;
  margin-right: 30px;
}

nav ul li a{
  display: inline-block;
  padding: 0 5px;
  line-height: 70px;
  text-decoration: none;
  color: rgb(23, 23, 23);
}

nav ul a:hover{
  border-bottom: 3px solid #535553;
}

